# Python
__pycache__/
*.pyc
*.pyo

# Modelos / checkpoints
*.pth
*.pt
*.ckpt

# NumPy / datos pesados
*.npy
*.npz
*.h5
*.hdf5

*.mat
*.json

# Carpetas que no queremos subir
TEST/
TRAIN/
test/
train/

# Resultados y salidas
results/
RESULTS/
outputs/
OUTPUTS/
checkpoints/
CHECKPOINTS/
logs/

# Bases pesadas del deformable mirror
MODAL_BASIS/

# Videos / GIF
*.gif
*.mp4
*.avi

# Sistema / editor
.DS_Store
Thumbs.db
.vscode/